body {
  margin: 0px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  height: 250px;
  background: #6943ff;
}

#title {
  font-family: "Inter", sans-serif;
  padding-bottom: 20px;
  color: white;
}

#num {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
  height: 60px;
  width: 100px;
  background: #6943ff;
  color: white;
  border: 1px solid #b295ff;
  border-radius: 3px;
}

#convert-btn {
  font-family: "Inter", sans-serif;
}
